
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css?family=Russo+One');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-size: 100%;
	vertical-align: baseline;
    font-family: 'Electrolize', sans-serif;
    letter-spacing: .1rem;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 90vw;
    width: 99%;
    border-style: none;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: left;
    padding: 20px;
    margin-bottom: 500px;
    background-color: rgb(55, 55, 55);
    background-image: url("https://cloudoki.com/content/images/size/w2000/2015/07/modern_architecture_3-wallpaper-1680x1260.jpg");
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/* Project */

.quote-box {
    text-align: center;
}

#editor {
    width: 60%;
    height: 120px;
    min-width: 350px;
    min-height: 50px;
    padding-top: 5px;
    resize: vertical;
    outline: none;
    padding-left: 5px;
    font-size: 1rem;
    background-color: rgba(135, 145, 41, 0.98);
    color: white;
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    box-shadow: 0 0 5px 2px rgb(5, 5, 5);
}

.cleaner {
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: -10px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.496);
    font-family: 'Electrolize', sans-serif;
    font-weight: bolder;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 0 5px 2px rgb(5, 5, 5);
    text-shadow: 0 0 1px rgb(0, 0, 0);
}

.cleaner:hover {
    background-color: rgba(255, 255, 255, 0.977);
}


#preview {
    padding-top: 5px;
    width: 60%;
    min-height: 100px;
    height: 90%;
    margin: 0 auto;
    min-width: 350px;
    text-align: left;
    padding: 0 1rem;
    background-color: rgba(135, 145, 41, 0.98);
    color: white;
    border: 1px solid black;
    box-shadow: 0 0 5px 2px rgb(5, 5, 5);
}

.toolbar {
    display:flexbox;
    justify-content: center;
    width: 60%;
    min-width: 350px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.891);
    background-color: rgba(0, 0, 0, 0.891);
    color: white;
    box-shadow: 0 0 5px 2px rgb(5, 5, 5);
    text-shadow: 0 0 5px rgb(255, 255, 255);
}

/* Markdown */

  #preview blockquote {
    border-left: 3px solid black;
    color: black;
    padding-left: 5px;
    margin-left: 25px;
  }
  #preview > p > code {
    padding: 3px;
  }
  #preview code {
    background: rgb(29, 28, 28);
    font-size: 0.875rem;
    font-weight: bold;
    font-family: 'Consolas', sans-serif;
  }
  #preview pre {
    display: block;
    overflow: auto;
    background: rgb(29, 28, 28);
    padding: 5px;
    line-height: 1.2;
  }
  #preview h1 {
    border-bottom: 2px solid black;
  }
  #preview h2 {
    border-bottom: 1px solid black;
  }
  #preview table {
    border-collapse: collapse;
  }
  #preview td,
  #preview th {
    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
  }
  #preview img {
    display: block;
    max-width: 90%;
    margin: 2rem auto;
    border-radius: 50px;
    opacity: .9;
  }

  #preview a {
      transition: .3s;
  }
  #preview a:hover {
      color: white;
  }
/* End Markdown */

@media only screen and (max-width: 600px) {
     
      body {
        font-size: .8rem;
        margin: 0; 
        height: 100%;
        overflow: hidden;
        overflow-y: scroll;
      }

      html {
          height: 100vh;
          overflow: hidden;
      }




}